:root {
  --color-main-header: rgb(20,24,28);
  --color-main-footer: rgb(44,52,64);
  --color-hr: rgb(68,85,102);
  --color-card-footer: rgb(68,85,102);
  --color-card-border: rgb(121,138,155);
  --color-text-lightest: rgb(255, 255, 255);
  --color-text-lighter: rgb(201, 219, 235);
  --color-text-light: rgb(170,187,204);
  --color-text-plain: rgb(153,170,187);
  --color-text-dark: rgb(102, 119, 136);
  --color-text-darker: rgb(64,77,89);
  --color-title: rgb(255, 255, 255);
  --color-text-background: rgb(32,40,48);
  --color-logo-blue: #40bcf4;
  --color-logo-green: rgb(0,224,84);
  --color-button-text: rgb(255, 255, 255);
  --color-button-green-light: #15bb32;
  --color-button-green: rgb(0,176,32);
  --color-button-green-dark: rgb(1, 161, 30);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-text-plain)
}

html, body, #root {
  width: 100%;
}

#root {
  background: #14181c url(../images/bg.png) 0 -1px repeat-x;
  letter-spacing: 1px;;
  width: 100%;
}

.container {
  max-width: 950px;
  margin: auto;
  height: 100%;
}